.menu {
    display: none;
    list-style-type: none;
    border: 1px solid black;
    width: 15%;
    margin-left: 20px;
    padding-left: 0px;
}

.menu li {
    padding-left:20px;
}

.edit-menu {
    cursor: pointer;
}