.menu {
    display: none;
    visibility: hidden;
    list-style-type: none;
    border: 1px solid black;
    width: 100px;
    margin-left: 20px;
    padding-left: 0px;
    position: relative;
    right: 20px;
    bottom: 10px;
    background: darkgrey;
}

.menu li {
    padding-left:20px;
}

.menu li a{
    color: white;
}

.edit-menu {
    cursor: pointer;
    /* position: relative;
    bottom:40px;
    left:155px; */
}

.edit-button{
    position: relative;
    bottom: 54px;
    left:155px;
    width: 22%;
}

.items {
    display: inline-block;
}

.item {
    /* display: inline-block; */
    width: 200px;
    height: 210px;
    border: 1px solid #000;
    padding-bottom: 40px;
    float: left;
    white-space: nowrap;
    margin: 20px;
}
.thumb {
    width: 150px;
    height: 150px;
    margin: 20px auto 0;
    padding-bottom: 20px;
    overflow: hidden;
}

.thumb img {
    width: 100%;
    height: auto;
    /* image-rendering: pixelated; */
    /* object-fit: cover; */
}

.name {
    padding-left:10px;
    padding-top:5px;
    font-weight: bold;
    margin-bottom: 8px;
    border-top: 1px solid #000;
}

.desc {
    padding-left:10px;
    padding-top:5px;
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

.cost {
    padding-left:10px;
    /* padding-top:5px; */
    font-weight: bold;
    margin: 0px;
    line-height: 20px;
}