label, input[type=text], input[type=file], input[type=tel], textarea {
    display:flex;
    width: 50%;
    margin: 0 auto;
}

dt {
    margin: 15px auto;
}

.submit-button {
    width: 600px;
    margin: 0px auto;
    text-align: center;
}

label {
    font-weight: bold;
}

h1 {
    text-align: center;
    white-space: nowrap;
}

#price, #count,#tel{
    width: 100px;
    margin:0 auto 0 25%;
}

#meado {
    width: 200px;
    margin:0 auto 0 25%;
}